Source: debian-dde
Section: metapackages
Priority: standard
Maintainer: gfdgd-xi <3025613752@qq.com>, LinuxDeepin Project <linuxdeepin@linuxdeepin.com>
Build-Depends: debhelper (>=8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.linuxdeepin.com

Package: debiandde-config
Architecture: all
Replaces: debian-dde
Conflicts: debian-dde, gxde-desktop
Recommends: gxde-kernel-manager, spark-deepin-wine-runner, com.github.ccc-app-manager, gxde-time-screensaver
Description: Deepin New Desktop Environment For Debian - Next
 This is a meta package depends Deepin New Desktop Envrionment.
 .
 You can safety remove it after installed.
